.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #c69500;
}

footer {
    background-color: #c69500;
    padding: 25px;
    width: 100%;
    position: fixed;
    bottom: 0;
}