<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>SDA Filmweb</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="jumbotron">
    <div class="container text-center">
        <h1><span class="glyphicon glyphicon-film"></span> SDA Filmweb</h1>
        <p>Filmweb inspired service</p>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a th:href="@{/movie/search}"><span class="glyphicon glyphicon-facetime-video"></span> Movies</a>
                </li>
                <li><a th:href="@{/actor/search}"><span class="glyphicon glyphicon-star-empty"></span> Actors</a></li>
                <li><a th:href="@{/director/search}"><span class="glyphicon glyphicon-bullhorn"></span> Directors</a>
                </li>
                <li><a th:href="@{/genre/search}"><span class="glyphicon glyphicon-folder-open"></span> Genres</a></li>
                <li><a th:href="@{/scenarist/search}"><span class="glyphicon glyphicon-pencil"></span> Scenarists</a>
                </li>
                <li><a th:href="@{/rate/search}"><span class="glyphicon glyphicon-stats"></span> Rates</a></li>

                <li class="dropdown show" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a th:href="@{/movie/create}">Create new movie</a></li>
                        <li><a th:href="@{/actor/create}">Create new actor</a></li>
                        <li><a th:href="@{/scenarist/create}">Create new scenarist</a></li>
                        <li><a th:href="@{/genre/create}">Create new genre</a></li>
                        <li><a th:href="@{/director/create}">Create new director</a></li>
                        <li><a th:href="@{/rate/create}">Create new rate</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()">
                    <a href="#">
                        <span class="glyphicon glyphicon-user"> </span>
                        <span sec:authentication="name"></span>
                    </a>
                </li>
                <li th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
                    <form action="#" th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout"/>
                    </form>
                </li>
                <li th:fragment="login" class="logout" sec:authorize="isAnonymous()">
                    <a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div>
            <form th:action="@{/genre/create}" method="POST" th:object="${genre}">
                <input type="hidden" id="id" th:value="${genre.id}"/>
                <label>Name: <input type="text" id="name" name="name" th:value="${genre.name}"></label>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
<br>

<footer class="container-fluid text-center">
    <p>&copy; 2020 Paweł Jaworski
    <p>
</footer>
</body>
</html>