<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>

<form th:action="@{/user/create}" method="post" th:object="${user}">
    <label>Login:
        <input type="text" id="login" name="login"/>
    </label>
    <label>Password:
        <input type="password" id="password" name="password"/>
    </label>
    <button type="submit">Register</button>
</form>

</body>
</html>